.header {
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: center;
    overflow: auto;
}     

.profile {
    border: 5px solid black;
    float: left;
}

.menu {
    margin-top: 20px;
    background-color: grey;
    padding: 20px;
    text-align: center;
}  

.menuButton {
    color: white;
    padding: 5px;
    background-color: #e76f51;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.menuButton:hover {
    color: black;
    background-color: #f4a261;
}   

.sideBarLeft {
    margin-top: 20px;
    background-color: grey;
    color: white;
    width: 20%;
    min-height: 700px;
    float: left;
}  

.aside1 {
    margin-top: 20px;
    margin-left: 10px;
    position: sticky;
    top: 20px;
    background-color: #b0b0b0;
    border-radius: 8px;
    width: 95%;
    height: 260px;
    overflow: auto;
}

.nwpBuilding {
    border: 5px solid black;
    display: block;
    margin: 40px auto 0 auto;
}

.aside2 {
    margin-top: 50px;
    background-color: grey;
    color: white;
    width: 100%;
}

.courseList {
    list-style-position: inside;
    background-color: #d4c4c4;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}  

.courseList > li {
    background-color: #a08080;
    padding: 5px;
    margin: 10px;
}

.courseList > li > strong {                                                                       
    background-color: #6b4a4a;                                                                   
}      

.main {
    margin-top: 20px;
    float: left;
    background-color: grey;
    color: white;
    width: 55.9%;
    min-height: 660px;
    margin-left: 1%;
}

.C1 {
    padding: 20px;
    padding-bottom: 60px;
    border: 2px solid black;
    background-color: #b0b0b0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.C2 {
    padding: 20px;
    padding-top: 60px;
    border: 2px solid black;
    background-color: #b0b0b0;
    border-radius: 8px;
}

.aside3 {
    margin-top: 20px;
    float: left;
    margin-left: 1%;
    background-color: grey;
    color: white;
    width: 20%;
    min-height: 700px;
}

.todo {
    border-radius: 8px;
    border: 5px solid black;
    display: block;
    margin: 20px auto 0 auto;
    width: 80%; 
    height: 600px;   
    background-color: #d4c4c4;
}

.todoList {
    list-style: none;
    padding: 10px;
}

.todoList > li {
    padding: 10px;
    padding-left: 40px;
    background-image: url('Images/toDo.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
}

.todoList > li:nth-child(odd) {
    background-color: #a8d4f0;
}

.todoList > li:nth-child(even) {
    background-color: #7ec8e3;
}

.todoList > li.done {
    background-color: grey;
    background-image: url('Images/done.png');
}

.todoList > li.done span {
    text-decoration: line-through;
}
.NwpBuilding2 {
    border-radius:200px;
    border: 3px solid black;

    /* display: block;
    margin: 20px auto 0 auto; */

    position: fixed;
    bottom: 180px;
    right: 70px;
}

.footer {
    position: fixed;                                                                                                                                                                                                                                               
    bottom: 0;                                                                                                                                                                                                                                                     
    left: 0;                                                                                                                                                                                                                                                       
    width: 100%; 
    background-color: grey;
    color: white;
    padding: 25px;
}

.FakeFooter {
    clear: both;
    height: 375px;
}

.footerCol {
    float: left;
    margin-right: 30px;
}

.footerCol a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #e76f51;
    border-radius: 8px;
    font-weight: bold;
}

.footerCol a:hover {
    text-decoration: underline;
    color: black;
    background-color: #f4a261;
}

.socialMedia {
    margin-right: 100px;
    float: right;
}

.socialLinks {
    display: inline-block;
    width: 125px;
    height: 125px;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.facebook {
    background-image: url('Images/faceBook.png');
}

.instagram {
    background-image: url('Images/instagram.png');
}

.youtube {
    background-image: url('Images/yt.png');
}

.socialLinks:hover {
    filter: grayscale(0%);
}