.Home {
    font-family: 'Courier New', Courier, ;
}

.Page2 {
    font-family: Georgia, serif;
    background-image: url('Images/Work.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.Page3 {
    font-family:'Times New Roman', cursive;

}

.Page3 h3 {
    font-weight: normal;
}

.Profile {
    border: 3px solid black;
    float: left;
}
.House {
    border: 3px solid red;
}
.School {
    border: 3px solid blue;
}

.CourseLoad {
    border: 3px solid purple;
}
.SmartPeople {
    border: 3px solid orange;
}
.Work {
    border: 3px solid green;
}

.Wings {
    border: 3px solid teal;
}
.MonsterManga {
    border: 3px solid maroon;
}
.ThePrince {
    border: 3px solid navy;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

.TopBottom {
    color: white;
    padding: 3px;
    background-color: black;
    border-radius: 3px;
    font-weight: bold;
}

ol {
    list-style-type: lower-alpha;
    text-align: justify;
}

ul {
    text-align: justify;
}

h2 {
    font-style: italic;
}

h3 {
    background-color: antiquewhite;
}


p {
    line-height: 30px;
    text-indent: 30px;
}

.no-indent {
    text-indent: 0;
}

#top, #bottom {
    display: block;
}

#career {
    color: darkslategray;
    border-left: 4px solid gold;
    padding-left: 10px;
}

#employers {
    color: midnightblue;
    border-left: 4px solid crimson;
    padding-left: 10px;
}

#hobbies {
    color: darkolivegreen;
    border-left: 4px solid coral;
    padding-left: 10px;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.House, .School, .Work {
    display: block;
    margin-top: 10px;
}

.p-style1 {
    color: darkblue;
    font-size: 16px;
    font-family: Georgia, serif;
}

.p-style2 {
    color: darkgreen;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

.p-style3 {
    color: darkred;
    font-size: 15px;
    font-family: 'Times New Roman', serif;
}