body {
  font-family: Arial, sans-serif;
}

#menu-toggle {
  cursor: pointer;
}

#sweeties li {
  cursor: pointer;
  padding: 3px 0;
  font-size: 18px;
}

.hidden {
  display: none;
}

.selected {
  color: red;
}

#sweet-image {
  width: 300px;
  margin-top: 10px;
}
